html, body {
  height: 100%
}
html {
  background-color: #050344;
  display: table;
  margin: auto;
}
body {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-align: center;
}
body, button {
  font-family: "Bitcount Single", system-ui;
}
button {
  font-size: 40px;
  height: 100px;
  width: 200px;
  background-color: #A4FF24;
}
