html, body {
  height: 100%;
}
html {
  background-color: #050344;
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-align: center;
  font-family: "Bitcount Single", system-ui;
}
p {
  font-size: 30px;
}
